$primary: #313f54;
$red: #ff3c27;
$blue: #3f51b5;
$skyblue: #03a9f4;
$green: #4bd01f;
$yellow: #ffeb3b;
$orange: #ef8822;
$orange_org:#ff8822;
$teal: #25cd98;
$white: #ffffff;

$offwhite: #eaeaea;
$lightGray: #313f54;
$black: #333333;
$darkgrey: #666666;
$secondaryGray: #999999;
$input: #617ca6;

$fc: #333333;
$sfc: #546c90;
$bc: #e7e7e7;
$ic: #cccccc;
$placeholder: #556d8f;
$btncolor: #ff8822;
$card-shadow: 0 4px 20px 0 #d5dce4;
$light-blue-bg: #e5edf8;

$gutter: 15px;
$full-height: calc(100vh - 40px);
$font-primary: lato-regular, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$font-bold: lato-bold;
$font-light: lato-light;
$icon-size: 18px;
$form-control-padding: 0.75rem 1rem;
$form-control-margin: 0.4rem 0rem;

$inactive-button: #dce1e8;
$third-brace-color: #c9d7f0;
$tmpcontentcol: #aab9d4;
$tmpBg: #f4f8fc;
$placeholder-content-color: #c7d1e4;
$user-status-inactive: #c3c8cf;
$tab-menu-color: #384860;
$standard-red:#FF3A16;
$input-placeholder:#8C9FBC;